@model Team2_Shop.Models.ShipInfo

@{
    ViewBag.Title = "주문하기";
}

<h2>결제 페이지</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="invoice">

            <div class="row page-header">
                @Html.DisplayName($"구매자 명 : ") &nbsp;
                @Html.DisplayName(((WebCustomerModel)Session["UserInfo"]).Customer_Name)
            </div>

            <!-- 기본 도로명 주소 -->
            <div class="form-group invoice-col col-sm-6">
                @Html.LabelFor(model => model.Addr1, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.Addr1, new { @Value = ((WebCustomerModel)Session["UserInfo"]).Customer_Address1 })
                    @Html.ValidationMessageFor(model => model.Addr1, "", new { @class = "text-danger" })
                </div>
            </div>
           
            <br />

            <!-- 상세주소 -->
            <div class="form-group invoice-col col-sm-6">
                @Html.LabelFor(model => model.Addr2, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.Addr2, new { @Value = ((WebCustomerModel)Session["UserInfo"]).Customer_Address2 })
                    @Html.ValidationMessageFor(model => model.Addr2, "", new { @class = "text-danger" })
                </div>
            </div>
            

            <div class="form-group invoice-col">
                <div class="col-md-12">
                    <input type="submit" value="주문하기" class="btn btn-default text-right" />
                </div>
            </div>
        </div>

    </div>
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
